<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ item.name }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'testapi/css/item_detail.css' %}">
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        const itemId = "{{ item.id }}";  // Передаём ID товара в JS
        const stripePublicKey = "{{ stripe_public_key }}";  // Передаём публичный ключ
    </script>
    <script src="{% static 'testapi/js/item_detail.js' %}"></script>
</head>
<body>
    <div class="container">
        <h1>{{ item.name }}</h1>
        <p>{{ item.description }}</p>
        <p class="price">Price: ${{ item.price|floatformat:2 }}</p>
        <button id="buy-button">Buy</button>
    </div>
</body>
</html>